.title {
    text-align: center;
    color: aqua;
}
a:link {
    text-decoration: none;
    color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.P1 {
    color: white;
    text-align: center;
    font-style: italic;
}
.P2 {
    color: white;
    text-align: center;
    font-style: italic;
}
.Box1 {
    text-align: center;
    border-radius: 20px;
    background-color: white;
}
.Projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-style: italic;
}
.ima1 {

    text-align: center;
}
.head {
    text-align: center;
    font-style: italic;
}
.box2 {
    border-color: black;
    border-style: solid;
}
.text1 {
    text-align: center;
    font-style: italic;
}
.Hobbies {
    text-align: center;
}
.img2 {
    border-color: black;
    border-style: solid;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.Submit {
    text-align: center;
}
#Note {
    z-index: 5;
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 10px;
    left: 10px;
    border: 1px dashed rgb(6, 6, 6);
    background-color: rgb(241, 241, 241);
  }
